<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <title>welcome page</title>
</head>
<body class="b1">
   
     
    <header>
        <h1>MEAL_MATE FOOD DELIVERY WIZARDS</h1>
    </header><br>
    <nav>
        
        <a href="signin/" style="color: blue">Sign In</a>
        <a href="signup/" style="color: blue">Sign Up</a>
    </nav>

    <br>
    <div class="container" style="text-align: center;">
        <div class="about" style="width: 500px; text-align: center;">
            <h2>About Meal Mate</h2><br><br>
            <p>
                Welcome to Meal Mate, your one-stop shop for delicious food delivered right to your doorstep. 
                We are your culinary wizards, connecting you with the finest restaurants in your city. 
                Whether you're craving a quick bite, a gourmet feast, or a late-night snack, Meal Mate has you covered. 
            </p>

            <p>
                Our mission is to make your dining experience effortless and enjoyable. 
                With just a few clicks, you can browse through a wide variety of cuisines, 
                place your order, and track its delivery in real-time. 
                Enjoy the convenience of hassle-free dining with Meal Mate.
            </p>
        </div>
    </div>


</body>
</html>