<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/styles.css' %}">
    <title>Order Summary</title>
</head>
<body>
    <!--<header class="header">
        <img src="https://tse1.mm.bing.net/th?id=OIP.3WZi6H_32R9jOYWsVelh6wHaHa&pid=Api&P=0&h=180" padding="100px" alt="not found" height="100px" width="100px"/>
        <h3>WELCOME TO MEAL_MATE WIZARDS</h3></header>
    <nav class="n1">
        <a href="#">Hi, {{username}}</a>
        <a href="/"><svg style="color: blue" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><title>ionicons-v5-i</title><polygon points="416 174.74 416 48 336 48 336 106.45 256 32 0 272 64 272 64 480 208 480 208 320 304 320 304 480 448 480 448 272 512 272 416 174.74"></polygon></svg>Home</a>
        <a href="{% url 'logout' %}" id="logout-button"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M20 22H4v-2a5 5 0 0 1 5-5h6a5 5 0 0 1 5 5v2zm-8-9a6 6 0 1 1 0-12 6 6 0 0 1 0 12z"/> </g> </svg>Logout</a>
        <script>
            document.getElementById('logout-button').addEventListener('click', function(event) {
                event.preventDefault();
                fetch('/logout/', {method: 'POST', headers: {
                    'X-CSRFToken':'{{csrf_token}}'
                }})
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    window.location.href = '/signin/';
                });
            });
        </script>
    </nav><br><br>-->
    <h1>Thank you for your order, {{ username }}!</h1>


    <h2>Delivery Address</h2>
    <p>{{ customer.address }}</p>

    <p>Your order will be delivered to this location shortly. Thank you for choosing Meal Mate!</p>

    {% if cart_items %}
        <a href="{% url 'customer_menu' cart_items.0.restaurant.id username %}">Back to Restaurants</a>
    {% else %}
        <a href="/" style="color:blue">Back to Home</a>
    {% endif %}
    <br><br>
    <!--<footer class="footer">
        <h4>&copy; Thank you for using meal_mate</h4>
    </footer>-->
</body>
</html>